# Asyncio support
asyncio-mqtt==0.16.1
paho-mqtt<2.0.0
httpx==0.24.1
# Configuration and Serialization
PyYAML==6.0.3
Jinja2==3.1.6
pydantic==2.12.3
sqlitedict==2.1.0
bcrypt==5.0.0
pytest-asyncio==0.21.1
