services:
  gateway:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    env_file:
      - .env.integration
    depends_on:
      - mosquitto
      - mock-server
    volumes:
      - ../config/config.yaml.docker:/app/config/config.yaml

  mosquitto:
    image: eclipse-mosquitto:2.0
    command: mosquitto -c /mosquitto-no-auth.conf
    volumes:
       - ./mosquitto-no-auth.conf:/mosquitto-no-auth.conf
    ports:
      - "1883:1883"

  mock-server:
    build:
      context: ../tests/integration
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
