{% for release in history -%}
{% if release.version | string == "0.0.0" %}
# CHANGELOG
{% else %}
## {{ release.version }} ({{ release.tagged_date.date() }})

{% for type, commits in release.elements.items() -%}
### {{ type }}

{% for commit in commits -%}
* {{ (commit.message.splitlines() or [''])[0] }} ([`{{ commit.short_hash }}`](https://github.com/clayauld/meshtopo/commit/{{ commit.hexsha }}))
{%- if commit.descriptions %}

{% for desc in commit.descriptions %}
{{ desc.strip() | replace('\n*', '\n\n*') }}
{%- if not loop.last %}

{% endif -%}
{% endfor %}

{%- endif %}
{% endfor %}

{% endfor %}
{%- endif %}
{%- endfor %}
