name: Lint PR

on:
  pull_request_target:
    types: [opened, edited, synchronize]

jobs:
  main:
    name: Validate PR title
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Ensure the PR title matches the Conventional Commits specification
          validateSingleCommit: false
